<a href="https://colab.research.google.com/github/GOEL-SHIVAM/Data-Analyst-Course/blob/python-course/python_course_30dc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
print("Hello World")

# comment in python
# pemdas rule used in arithmatic operation

Hello World

In [14]:
z = 10
print(z)
type(z)

10

int

In [18]:
x = 2
fat2 = (x**2)/x+2-3/(x%10)
print(fat2)

2.5